{% extends 'page/view/view_base.html.twig' %}

{% block header %}
    {% include 'page/view/header_view_draft.html.twig' %}
{% endblock %}


{% block content %}
    <div class="row mb-4">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="card bg-gradient-dark">
                <div class="card-body">
                    <div class="nav-wrapper">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 active"
                                   href="{{ path('rf_page_view', {'id':page.id, 'tab':'blocks'}) }}">Blocks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 btn-contents"
                                   href="{{ path('rf_page_view', {'id':page.id, 'tab':'contents'}) }}">Contents</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="card bg-gradient-blue">
                <div class="card-body">
                    <div class="nav-wrapper">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                            <li class="nav-item">
                                <form id="form_save_order" method="post">
                                    <input id="page_block_orders" name="page_block_orders" type="hidden"/>
                                    <button type="submit" id="save-content-orders"
                                            class="btn btn-secondary btn-block av-link mb-sm-3 mb-md-0">
                                        SAVE
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div id="canvas_structure" class="page-contents "
                 style="width:100%;min-height:400px;max-height:700px;overflow: auto; border:3px solid white; padding:20px;"
                 class="shadow">
                {{ page.layout.structure | raw }}
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="card card-stats">
                <div class="card-header bg-translucent-neutral border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Content List</h3>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-root well">

                    <a href="#ct-cat-menu" class="list-group-item" data-toggle="collapse">
                        Menus
                    </a>
                    <div class="list-group collapse content-list" id="ct-cat-menu">
                        <a href="#" class="list-group-item content-list-item" rf-content-code="CT_MENU_MAIN">Main Menu
                            01</a>
                        <a href="#" class="list-group-item content-list-item" rf-content-code="CT_MENU_MAIN_SIMPLE">Main
                            Menu 02</a>
                        <a href="#" class="list-group-item content-list-item" rf-content-code="CT_MENU_SIDE">Side
                            Menu</a>
                        <a href="#" class="list-group-item content-list-item" rf-content-code="CT_MENU_PILLS">Menu
                            Pills</a>
                    </div>

                    <a href="#ct-cat-contents" class="list-group-item" data-toggle="collapse">
                        Media & Texts
                    </a>
                    <div class="list-group collapse content-list" id="ct-cat-contents">
                        <a href="#" class="list-group-item content-list-item" rf-content-code="CT_CONTENTS_CAROUSEL">Carousel</a>
                        <a href="#" class="list-group-item content-list-item" rf-content-code="CT_CONTENTS_PARAGRAPH_1">Paragraph
                            Full</a>
                        <a href="#" class="list-group-item content-list-item"
                           rf-content-code="CT_CONTENTS_PARAGRAPH_2.3_1.3">Paragraph 2/3 - Image 1/3</a>
                        <a href="#" class="list-group-item content-list-item"
                           rf-content-code="CT_CONTENTS_PARAGRAPH_2.3_1.3">Image 2/3 - Paragraph 1/3</a>
                        <a href="#" class="list-group-item content-list-item"
                           rf-content-code="CT_CONTENTS_PARAGRAPH_1.2_1.2">Paragraph - 1/2 Image 1/2</a>
                        <a href="#" class="list-group-item content-list-item"
                           rf-content-code="CT_CONTENTS_PARAGRAPH_1.2_1.2">Image 1/2 - Paragraph 1/2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            /*$(".page-contents").niceScroll();
            $(".content-list").niceScroll();*/


            $('#save-content-orders').click(function (e) {
                e.preventDefault();
                $('#page_block_orders').val(calculateItemsInSlots());
                $('#form_save_order').submit();
            });

            $('.btn-contents').confirm({
                theme: 'modern',
                title: "..before going into the content section",
                columnClass: 'large',
                content: 'Please make sure you have clicked the <em>SAVE</em> button, <br/> if you want to update the blocks. <br/> Else all unsaved modifications will be lost.',
                buttons: {
                    continue: {
                        text: 'Proceed',
                        btnClass: 'btn btn-success',
                        keys: ['enter', 'shift'],
                        action: function () {
                            location.href = this.$target.attr('href');
                        }
                    },
                    cancel: {
                        text: 'Cancel',
                        btnClass: 'btn btn-secondary',
                        keys: ['enter', 'shift'],
                        action: function () {
                            // do nothing
                        }
                    },
                }
            });


            $('.btn-publish').click(function (e) {
                $.confirm({
                    theme: 'modern',
                    title: "Confirmation",
                    columnClass: 'large',
                    content: '<em>You really want to publish this page?</em>',
                    buttons: {
                        continue: {
                            text: 'Yes',
                            btnClass: 'btn btn-danger',
                            keys: ['enter', 'shift'],
                            action: function () {
                                // no nothing
                            }
                        },
                        cancel: {
                            text: 'Cancel',
                            btnClass: 'btn btn-secondary',
                            keys: ['enter', 'shift'],
                            action: function () {
                                // do nothing
                            }
                        },
                    }
                });
            });
            renderCanvasSlotsEditable();

            $('.content-list').each(function (index) {
                var el = $(this)[0];
                Sortable.create(el, {
                    group: {
                        name: 'shared',
                        pull: 'clone',
                        put: false
                    },
                    delayOnTouchOnly: true,
                    animation: 150,
                    sort: false
                });
            });


            {% for slot in page.layout.slots %}
            {% for b in get_blocks_for_slot(blocks, slot) %}
                $('#{{ slot }}').append('<a href="#" class="list-group-item content-list-item" rf-content-code="{{ b.id }}">BLOCK ' +
                    ' {{ b.contentType }}</a>');
            {% endfor %}
            {% endfor %}



            {% for slot in page.layout.slots %}
            var contents_{{ slot }} = document.getElementById('{{ slot }}');
            var contents_sortable_{{ slot }} = Sortable.create(contents_{{ slot }}, {
                group: 'shared',
                delayOnTouchOnly: true,
                animation: 300
            });
            {% endfor %}

            $('#save-content-orders').click(function () {
                calculateItemsInSlots()
            });


        });

        function calculateItemsInSlots() {
            var orders = {};
            {% for slot in page.layout.slots %}
            var slot_orders = [];
            $('#{{ slot }}').find('.content-list-item').each(function () {
                slot_orders.push($(this).attr('rf-content-code'));
            });
            orders['{{ slot }}'] = slot_orders;
            {% endfor %}
            var orders_string = JSON.stringify(orders);

            return orders_string;
        }

        function renderCanvasSlotsEditable() {
            $('#canvas_structure').find('.slot').each(function () {
                var slot = $(this);
                var slotCode = slot.attr('data-slot');
                var slotContainer = "<h4 class='slot-header'>" + slotCode + "</h4><div id='" + slotCode + "' class='slot-container'></div>";
                slot.html(slotContainer);
            });
        }
    </script>

{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        #canvas_structure .slot-container {
            width: 94%;
            background: white;
            border: 4px solid white;
            margin-left: 3%;
            margin-right: 3%;
            background-image: url('{{ asset('assets/admin/img/drag_and_drop.jpg') }}');
            background-size: cover;
            background-position: center center;
        }

        #canvas_structure .slot-1 .slot-container {
            min-height: 150px;
        }

        #canvas_structure .slot .slot-container {
            min-height: 150px;
        }

        #canvas_structure .slot-2 .slot-container {
            min-height: 250px;
        }

        #canvas_structure .slot-3 .slot-container {
            min-height: 350px;
        }

        #canvas_structure .slot-4 .slot-container {
            min-height: 450px;
        }

        #canvas_structure .slot-5 .slot-container {
            min-height: 550px;
        }

        #canvas_structure .slot-6 .slot-container {
            min-height: 650px;
        }

        .content-list-item {
            width: 94%;
            margin: 3%;
            border: 2px solid lightgrey;
            background: white;
            text-align: center;
            min-height: 50px;
        }

        .content-list-item h3 {
            font-weight: bold;
        }

        #canvas_structure .slot {
            background: none;
            border: 1px solid lightgrey;
        }

        #canvas_structure .slot-header {
            margin: 0;
            padding: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            color: grey;
        }


        .list-group.list-group-root {
            padding: 0;
            overflow: hidden;
        }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
        }

        .list-group.list-group-root > .list-group-item:first-child {
            border-top-width: 0;
        }

        .list-group.list-group-root > .list-group > .list-group-item {
            padding-left: 30px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group-item {
            padding-left: 45px;
        }

        .list-group-item .glyphicon {
            margin-right: 5px;
        }

    </style>
{% endblock %}


