{% extends 'page/view/view_base.html.twig' %}


{% block content %}
    {#<div class="alert alert-info alert-dismissible fade show" role="alert">
        <span class="alert-inner--text">You should unpublish this page to edit its contents. Or create a draft version.</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>#}

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div id="canvas_structure" class="page-contents "
                 style="width:100%;min-height:400px;max-height:2000px;background:white;overflow: auto; border:3px solid white; padding:20px;"
                 class="shadow">
                {{ page.layout.structure | raw }}
            </div>
        </div>
    </div>
{% endblock %}





{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('.btn-unpublished').click(function () {
                var hasDraft = $(this).attr('rf-published');
                if (hasDraft == "YES") {
                    $.confirm({
                        theme: 'modern',
                        title: "WARNING",
                        columnClass: 'large',
                        content: 'This published page already has a draft version.<br/><ul>' +
                            '<li>You should delete the draft version first.</li><li>If you are unpublishing this ' +
                            'current version because you want to publish the draft version, you can publish the' +
                            ' draft version directly.</li></ul><br/><br/>',
                        buttons: {
                            confirm: {
                                text: 'Unpublish & Delete the Draft',
                                btnClass: 'btn btn-danger',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    $.confirm({
                                        theme: 'modern',
                                        title: "WARNING",
                                        columnClass: 'large',
                                        content: '<em>By clicking on ' +
                                            '"Unpublish & Delete the Draft", it will delete the draft version, and the ' +
                                            'current published version will become draft.</em>',
                                        buttons: {
                                            continue: {
                                                text: 'Confirm',
                                                btnClass: 'btn btn-danger',
                                                keys: ['enter', 'shift'],
                                                action: function () {
                                                    // no nothing
                                                }
                                            },
                                            cancel: {
                                                text: 'Cancel',
                                                btnClass: 'btn btn-secondary',
                                                keys: ['enter', 'shift'],
                                                action: function () {
                                                    // do nothing
                                                }
                                            },
                                        }
                                    });
                                }
                            },
                            deleteDraft: {
                                text: 'Delete Draft ',
                                btnClass: 'btn btn-warning',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    $.confirm({
                                        theme: 'modern',
                                        title: "WARNING",
                                        columnClass: 'large',
                                        content: '<em>By clicking on ' +
                                            '"Delete Draft", it will delete the draft version. This means that all the modifications you did in the draft version will be lost.</em>',
                                        buttons: {
                                            continue: {
                                                text: 'Confirm',
                                                btnClass: 'btn btn-danger',
                                                keys: ['enter', 'shift'],
                                                action: function () {
                                                    // no nothing
                                                }
                                            },
                                            cancel: {
                                                text: 'Cancel',
                                                btnClass: 'btn btn-secondary',
                                                keys: ['enter', 'shift'],
                                                action: function () {
                                                    // do nothing
                                                }
                                            },
                                        }
                                    });
                                }
                            },
                            cancel: {
                                text: 'Cancel',
                                btnClass: 'btn btn-secondary',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    // do nothing
                                }
                            },
                        }
                    });
                } else {
                    $.confirm({
                        theme: 'modern',
                        title: "WARNING",
                        columnClass: 'large',
                        content: 'You are about to UNPUBLISH this page. ' +
                            'Please note <ul><li>It will no longer appear in the Front Office (Website)</li>' +
                            '<li>If this page contains children in the menu, all the children will no longer be ' +
                            'available. So, make sure you have updated your website menu before proceeding.</li></ul>',
                        buttons: {
                            confirm: {
                                text: 'UNPUBLISH',
                                btnClass: 'btn btn-danger',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    // no nothing
                                }
                            },
                            cancel: {
                                text: 'Cancel',
                                btnClass: 'btn btn-secondary',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    // do nothing
                                }
                            },
                        }
                    });
                }
            });


            $('body').on('click', '.btn-view-html', function () {

                $.alert({
                    theme: 'modern',
                    title: "HTML Viewer",
                    columnClass: 'large',
                    content: $('#' + $(this).attr('rf-pane')).show().html(),
                });

                $('#' + $(this).attr('rf-pane')).hide();
            });

            {% for slot in page.layout.slots %}
            {% for b in get_blocks_for_slot(blocks, slot) %}

            getBlockViewDetail('{{ b.contentType }}', '{{ slot }}', '{{ b.id }}', '{{ render(controller(
                'App\\Controller\\PageController::blockViewDetail', {id: b.id}
            ))  | replace({"\n":' ', "\r":' '}) | raw  }}');
            {% endfor %}
            {% endfor %}


        });

        function getBlockViewDetail(code, el, id, data) {
            var slot = $('.slot[data-slot="'+el+'"]');
            slot.append( data);
            $('.block-content-edit').hide();
        }
    </script>

{% endblock %}


{% block css %}
    {{ parent() }}
    <style>
        #canvas_structure .slot-container {
            width: 94%;
            background: white;
            border: 4px solid white;
            margin-left: 3%;
            margin-right: 3%;
            background-image: url('{{ asset('assets/admin/img/drag_and_drop.jpg') }}');
            background-size: cover;
            background-position: center center;
        }

        #canvas_structure .slot-1 .slot-container {
            min-height: 150px;
        }

        #canvas_structure .slot .slot-container {
            min-height: 150px;
        }

        #canvas_structure .slot-2 .slot-container {
            min-height: 250px;
        }

        #canvas_structure .slot-3 .slot-container {
            min-height: 350px;
        }

        #canvas_structure .slot-4 .slot-container {
            min-height: 450px;
        }

        #canvas_structure .slot-5 .slot-container {
            min-height: 550px;
        }

        #canvas_structure .slot-6 .slot-container {
            min-height: 650px;
        }

        .content-list-item {
            width: 94%;
            margin: 3%;
            border: 2px solid lightgrey;
            background: white;
            text-align: center;
            min-height: 50px;
        }

        .content-list-item h3 {
            font-weight: bold;
        }

        #canvas_structure .slot {
            background: none;
            border: 1px solid lightgrey;
        }

        #canvas_structure .slot-header {
            margin: 0;
            padding: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            color: grey;
        }

        .list-group.list-group-root {
            padding: 0;
            overflow: hidden;
        }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
        }

        .list-group.list-group-root > .list-group-item:first-child {
            border-top-width: 0;
        }

        .list-group.list-group-root > .list-group > .list-group-item {
            padding-left: 30px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group-item {
            padding-left: 45px;
        }

        .list-group-item .glyphicon {
            margin-right: 5px;
        }
        .slot {
            padding:10px;
        }

    </style>
{% endblock %}
