{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block whole %}

    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6 d-none d-md-flex bg-image"></div>


            <!-- The content half -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">

                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <img src="{{ asset('assets/logo.jpg') }}" style="width:75px;" />
                                <br/><br/>
                                <h3 class="display-4">Log In</h3>
                                <p class="text-muted mb-4">Please enter your email and password.</p>
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if messageError %}
                                        <div class="alert alert-danger">{{ messageError }}</div>
                                    {% endif %}

                                    {% if messageSuccess %}
                                        <div class="alert alert-success">{{ messageSuccess }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}

                                    <div class="form-group mb-3">
                                        <input id="inputEmail" type="email" placeholder="Email address" required=""
                                               autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"
                                               value="{{ last_username }}" name="email" >
                                    </div>

                                    <div class="form-group mb-3">
                                        <input id="inputPassword" type="password" placeholder="Password" required=""
                                               class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                                               name="password" >
                                    </div>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >

                                    <div class="custom-control custom-checkbox mb-3">
                                        <input id="customCheck1" type="checkbox" name="_remember_me" checked
                                               class="custom-control-input">
                                        <label for="customCheck1" class="custom-control-label">Remember me</label>
                                    </div>

                                    <button type="submit"
                                            class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                                        Sign in
                                    </button>

                                    <a href="{{ path('app_register') }}" class="btn btn-outline-secondary  btn-sm">Register</a>
                                    <a href="{{ path('app_forgot_password') }}" class="btn btn-outline-secondary float-right btn-sm">Forgot Password?</a>

                                </form>
                            </div>
                        </div>
                    </div><!-- End -->

                </div>
            </div><!-- End -->
        </div>
    </div>

    <style>
        .login,
        .image {
            min-height: 100vh;
        }

        .bg-image {
        {%  set randImageValue = random(4) %}
            background-image: url('{{ asset('assets/login/login'~randImageValue~'.jpg') }}');
            background-size: cover;
            background-position: center center;
        }
    </style>
{% endblock %}
