{% extends 'objects/components/structure.html.twig' %}

{% block title %}O Menu List{% endblock %}

{% block sidenav %}
    {% set config = {'config':{
        'active' : 'object_menu',
        'items': [
            {'path' : path('rf_object_menu_list'), 'title':"Menus"},
            {'path' : path('rf_object_menu_add'), 'title':"Create Menu"},
        ]
    }} %}
    {% include 'admin/sidenav.html.twig'  with config %}
{% endblock %}

{% block nav %}
    {% set config = {'config':{
        'main': {'path' : path('rf_object_menu_list'), 'title':"O Menu Management"},
        'items': [
            {'path' : path('rf_object_menu_list'), 'title':"Menus"},
            {'path' : path('rf_object_menu_add'), 'title':"Create Menu", 'active':true},
        ]
    }} %}
    {% include 'admin/nav.html.twig' with config %}
{% endblock %}

{% block content %}
    <div class="row menu-creator">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header bg-translucent-neutral border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Add Menu</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    {{ form_start(form) }}
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(form.properties) }}
                                {{ form_row(form.menuHTML) }}
                            </div>
                        </div>
                    </div>
                    <hr class="my-4"/>


                    <div class="row">
                        <div class="col-md-8">
                            <div id="nestedMenu" class="list-group col nested-sortable  rf-nested">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="menuContents" class="list-group col nested-sortable" style="max-height:600px; overflow: auto;">
                                <div class="list-group-item" rf-type="virtual_logo">
                                    <div class="title">
                                        Logo with Homepage Link
                                    </div>

                                    <div class="views">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="public" name="views_type" value="public">Appear in Public
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox"  class="authenticated"  name="views_type"  value="authenticated">Appear when logged in
                                        </label>
                                    </div>
                                    <div class="list-group nested-sortable rf-nested" style="min-height:50px;background: gainsboro; display: none; margin-top:5px; border-radius:10px;"></div>
                                </div>
                                {% for page in pages %}
                                    <div class="list-group-item" rf-type="{{ page.id }}">
                                        <div class="title">
                                            {{ page.name }}
                                        </div>
                                        <div class="views">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="public" name="views_type" value="public">Appear in Public
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox"  class="authenticated"  name="views_type"  value="authenticated">Appear when logged in
                                            </label>
                                        </div>
                                        <div class="list-group nested-sortable rf-nested" style="min-height:50px;background: gainsboro; margin-top:5px; border-radius:10px;"></div>
                                    </div>
                                {% endfor %}
                                <div class="list-group-item" rf-type="virtual_user_account">
                                    <div class="title">
                                        Account Section
                                    </div>

                                    <div class="views">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="public" name="views_type" value="public">Appear in Public
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox"  class="authenticated"  name="views_type"  value="authenticated">Appear when logged in
                                        </label>
                                    </div>
                                    <div class="list-group nested-sortable rf-nested" style="min-height:50px;background: gainsboro; margin-top:5px; border-radius:10px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4"/>
                    <h6 class="heading-small text-muted mb-4">Actions</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" id="btn-submit" class="btn btn-icon btn-3 btn-primary">
                                        <span class="btn-inner--icon"><i class="fa fa-save"></i> </span>

                                        <span class="btn-inner--text">Done</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <style>
        #nestedMenu {
            width: 92%;
            min-height: 400px;
            padding: 4%;
            background: gainsboro;
        }

        .menu-creator .list-group-item {
            border: 1px solid #2c76bf;
        }

        .menu-creator .list-group-item .views .checkbox-inline {
            padding: 5px;
        }

        .menu-creator .list-group-item .title {
            padding-bottom: 10px;
            color: black;
        }

        .rf-nested  .rf-nested .rf-nested {
            display:none;
        }

        .list-group-item .views {
            display: none;
        }

        #nestedMenu .views {
            display: block;
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            initSortable();

            $('#btn-submit').click(function (e) {
                e.preventDefault();

                let data = [];
                let menu = $('#nestedMenu');

                let firstLevel = menu.children('.list-group-item');

                firstLevel.each(function () {
                    let basicData = {
                        'id' : null,
                        'public': false,
                        'authenticated' : false,
                        'children' : []
                    };
                    let flElement = $(this);
                    basicData.id = flElement.attr('rf-type');
                    if (flElement.find('.views .public').prop('checked')) {
                        basicData.public = true;
                    }
                    if (flElement.find('.views .authenticated').prop('checked')) {
                        basicData.authenticated = true;
                    }
                    let childrenElement = flElement.children('.list-group');
                    if (childrenElement.children().length > 0) {
                        secondLevel = childrenElement.children('.list-group-item');
                        secondLevel.each(function () {
                            let secondLevelData = {
                                'id': null,
                                'public': false,
                                'authenticated': false
                            }
                            let slElement = $(this);
                            secondLevelData.id = slElement.attr('rf-type');
                            if (slElement.children('.views').children('.public').checked) {
                                secondLevelData.public = true;
                            }
                            if (slElement.children('.views').children('.authenticated').checked) {
                                secondLevelData.authenticated = true;
                            }

                            basicData.children.push(secondLevelData);
                        });
                    }

                    data.push(basicData);
                });

                $('.my_menu_properties').val(JSON.stringify(data));

                $('.my_menu_html').val($('#nestedMenu').html());

                $('form[name="menu"]').submit();
            });
        });

        function initSortable() {
            var nestedSortables = [].slice.call(document.querySelectorAll('.nested-sortable'));

            var sortables = [];

            // Loop through each nested sortable element
            for (var i = 0; i < nestedSortables.length; i++) {
                sortables[i] = new Sortable(nestedSortables[i], {
                    group: 'nested',
                    animation: 150,
                    fallbackOnBody: true,
                    swapThreshold: 0.65
                });
            }
        }
    </script>
{% endblock %}
