{% extends 'objects/components/structure.html.twig' %}

{% block title %}O Menu List{% endblock %}

{% block sidenav %}
    {% set config = {'config':{
        'active' : 'object_menu',
        'items': [
            {'path' : path('rf_object_menu_list'), 'title':"Menus"},
            {'path' : path('rf_object_menu_add'), 'title':"Create Menu"},
        ]
    }} %}
    {% include 'admin/sidenav.html.twig'  with config %}
{% endblock %}

{% block nav %}
    {% set config = {'config':{
        'main': {'path' : path('rf_object_menu_list'), 'title':"O Menu Management"},
        'items': [
            {'path' : path('rf_object_menu_list'), 'title':"Menus"},
            {'path' : path('rf_object_menu_add'), 'title':"Create Menu", 'active':true},
        ]
    }} %}
    {% include 'admin/nav.html.twig' with config %}
{% endblock %}

{% block content %}
    <div class="row menu-creator">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header bg-translucent-neutral border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">
                                {% if editMode is defined and editMode %}
                                    Edit Menu
                                {% else %}
                                    Add Menu
                                {% endif %}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <form id="form_menu" method="post">

                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="my_menu_name"
                                               name="my_menu_name" {% if editMode is defined and editMode %} value="{{ object.name }}"{% endif %}
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <input id="my_menu_properties" name="my_menu_properties" type="hidden"/>
                                    <input id="my_menu_html" name="my_menu_html" type="hidden"/>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4"/>


                        <div class="row">
                            <div class="col-md-8">
                                <div id="nestedMenu" class="list-group col nested-sortable  rf-nested">
                                    {% if editMode is defined and editMode %}
                                        {{ object.menuHTML | raw }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="menuContents" class="list-group col nested-sortable"
                                     style="max-height:600px; overflow: auto;">
                                    <div class="list-group-item" rf-type="virtual_logo">
                                        <div class="title">
                                            Logo with Homepage Link
                                        </div>

                                        <div class="views">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="public" name="views_type" value="public">Appear
                                                in Public
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="authenticated" name="views_type"
                                                       value="authenticated">Appear when logged in
                                            </label>
                                        </div>
                                        <div class="list-group nested-sortable rf-nested"
                                             style="min-height:50px;background: gainsboro; display: none; margin-top:5px; border-radius:10px;"></div>
                                    </div>
                                    {% for page in pages %}
                                        <div class="list-group-item" rf-type="{{ page.route }}">
                                            <div class="title">
                                                {{ page.name }}
                                            </div>
                                            <div class="views">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" class="public" name="views_type"
                                                           value="public">Appear in Public
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" class="authenticated" name="views_type"
                                                           value="authenticated">Appear when logged in
                                                </label>
                                            </div>
                                            <div class="list-group nested-sortable rf-nested"
                                                 style="min-height:50px;background: gainsboro; margin-top:5px; border-radius:10px;"></div>
                                        </div>
                                    {% endfor %}
                                    <div class="list-group-item" rf-type="virtual_user_account">
                                        <div class="title">
                                            Account Section
                                        </div>

                                        <div class="views">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="public" name="views_type" value="public">Appear
                                                in Public
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="authenticated" name="views_type"
                                                       value="authenticated">Appear when logged in
                                            </label>
                                        </div>
                                        <div class="list-group nested-sortable rf-nested"
                                             style="min-height:50px;background: gainsboro; margin-top:5px; border-radius:10px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4"/>
                        <h6 class="heading-small text-muted mb-4">Actions</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" id="btn-submit" class="btn btn-icon btn-3 btn-primary">
                                            <span class="btn-inner--icon"><i class="fa fa-save"></i> </span>

                                            <span class="btn-inner--text">Done</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        #nestedMenu {
            width: 92%;
            min-height: 400px;
            padding: 4%;
            background: gainsboro;
            max-height: 500px;
            overflow: auto;
        }

        .menu-creator .list-group-item {
            border: none;
            margin: 5px;
            border-radius: 10px;
            box-shadow: 5px 5px 15px darkgrey;
            background-image: linear-gradient(to top, #ffffff 0%, #eef1f5 100%);
        }

        .menu-creator .list-group-item .views .checkbox-inline {
            padding: 5px;
        }

        .menu-creator .list-group-item .title {
            padding-bottom: 10px;
            color: black;
        }

        .rf-nested .rf-nested .rf-nested {
            display: none;
        }

        .list-group-item .views {
            display: none;
        }

        #nestedMenu .views {
            display: block;
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            initSortable();
            {% if editMode is defined and editMode %}
            initSelectedMenu();
            {% endif %}

            $('#btn-submit').click(function (e) {
                e.preventDefault();

                let data = [];
                let menu = $('#nestedMenu');

                let firstLevel = menu.children('.list-group-item');

                firstLevel.each(function () {
                    let basicData = {
                        'id': null,
                        'public': false,
                        'authenticated': false,
                        'children': []
                    };
                    let flElement = $(this);
                    basicData.id = flElement.attr('rf-type');
                    if (flElement.find('.views .public').prop('checked')) {
                        basicData.public = true;
                    }
                    if (flElement.find('.views .authenticated').prop('checked')) {
                        basicData.authenticated = true;
                    }
                    let childrenElement = flElement.children('.list-group');
                    if (childrenElement.children().length > 0) {
                        secondLevel = childrenElement.children('.list-group-item');
                        secondLevel.each(function () {
                            let secondLevelData = {
                                'id': null,
                                'public': false,
                                'authenticated': false
                            }
                            let slElement = $(this);
                            secondLevelData.id = slElement.attr('rf-type');
                            if (slElement.find('.views .public').prop('checked')) {
                                secondLevelData.public = true;
                            }
                            if (slElement.find('.views .authenticated').prop('checked')) {
                                secondLevelData.authenticated = true;
                            }

                            basicData.children.push(secondLevelData);
                        });
                    }

                    data.push(basicData);
                });

                $('#my_menu_properties').val(JSON.stringify(data));

                $('#my_menu_html').val($('#nestedMenu').html());

                $('#form_menu').submit();
            });
        });

        function initSortable() {
            var nestedSortables = [].slice.call(document.querySelectorAll('.nested-sortable'));

            var sortables = [];

            // Loop through each nested sortable element
            for (var i = 0; i < nestedSortables.length; i++) {
                sortables[i] = new Sortable(nestedSortables[i], {
                    group: 'nested',
                    animation: 150,
                    fallbackOnBody: true,
                    swapThreshold: 0.65
                });
            }
        }

        {% if editMode is defined and editMode %}
        function initSelectedMenu() {
            let properties = '{{ object.encodedProperties | raw }}';
            properties = JSON.parse(properties);
            /*properties.each(function() {
                $('#nestedMenu .list-group-item[rf-type="118"]').toggle()
            });*/
            initLevel(properties);
        }

        function initLevel(data) {
            $.each(data, function (key, data) {
                let elementId = false;
                let elementPublic = false;
                let elementAuthenticated = false;
                let elementChildren = false;

                $.each(data, function (index, data) {
                    if (index == "id") {
                        elementId = data;
                    }
                    if (index == "public") {
                        elementPublic = data;
                    }
                    if (index == "authenticated") {
                        elementAuthenticated = data;
                    }
                    if (index == "children") {
                        if (data.length > 0) {
                            elementChildren = data;
                        }
                    }
                });

                var element = $('#nestedMenu .list-group-item[rf-type="' + elementId + '"]');

                //hide in list
                $('#menuContents .list-group-item[rf-type="' + elementId + '"]').hide();
                if (elementPublic) {
                    element.find('.views .public').prop('checked', true);
                } else {
                    element.find('.views .public').prop('checked', false);
                }
                if (elementAuthenticated) {
                    element.find('.views .authenticated').prop('checked', true);
                } else {
                    element.find('.views .authenticated').prop('checked', false);
                }

                if (elementChildren) {
                    initLevel(elementChildren);
                }
            })
        }
        {% endif %}
    </script>
{% endblock %}
