{% extends 'objects/components/structure.html.twig' %}

{% block title %}O Menu List{% endblock %}

{% block sidenav %}
    {% set config = {'config':{
        'active' : 'object_menu',
        'items': [
            {'path' : path('rf_object_menu_list'), 'title':"Menus"},
            {'path' : path('rf_object_menu_add'), 'title':"Create Menu"},
        ]
    }} %}
    {% include 'admin/sidenav.html.twig'  with config %}
{% endblock %}

{% block nav %}
    {% set config = {'config':{
        'main': {'path' : path('rf_object_menu_list'), 'title':"O Menu Management"},
        'items': [
            {'path' : path('rf_object_menu_list'), 'title':"Menus"},
            {'path' : path('rf_object_menu_add'), 'title':"Create Menu"},
        ]
    }} %}
    {% include 'admin/nav.html.twig' with config %}
{% endblock %}

{% block content %}
    <div class="row menu-creator">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header bg-translucent-neutral border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ object.name }}</h3>
                        </div>
                        <div class="col-4" style="text-align: right;">

                            <a href="{{ path('rf_object_menu_edit', {'id':object.id}) }}"  class="btn btn-outline-secondary btn-sm" >
                                <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                                <span class="btn-inner--text">Edit</span>
                            </a>

                            <a href="{{ path('rf_object_menu_edit', {'id':object.id}) }}"  id="deleteMenu" class="btn btn-outline-danger btn-sm" data-title="Delete this menu ?" >
                                <span class="btn-inner--icon"><i class="fas fa-times-circle"></i></span>
                                <span class="btn-inner--text">Delete</span>
                            </a>


                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="nestedMenu" class="list-group col nested-sortable  rf-nested">

                                {{ object.menuHTML | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #nestedMenu {
            width: 92%;
            min-height: 400px;
            padding: 4%;
            background: gainsboro;
        }

        .menu-creator .list-group-item {
            border: none;
            margin: 5px;
            border-radius: 10px;
            box-shadow: 5px 5px 15px darkgrey;
            background-image: linear-gradient(to top, #ffffff 0%, #eef1f5 100%);
        }

        .menu-creator .list-group-item .views .checkbox-inline {
            padding: 5px;
        }

        .menu-creator .list-group-item .title {
            padding-bottom: 10px;
            color: black;
        }

        .rf-nested  .rf-nested .rf-nested {
            display:none;
        }

        .rf-nested  .rf-nested .rf-nested {
            display:none;
        }

        .list-group-item .views {
            display: none;
        }

        #nestedMenu .views {
            display: block;
        }
    </style>
{% endblock %}


{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            initSelectedMenu();

            $('#deleteMenu').confirm({
                buttons: {
                    cancel: {
                        text: 'Cancel',
                        btnClass: 'btn btn-secondary',
                        action: function () {
                            // do nothing
                        }
                    },
                    delete: {
                        text: 'Delete',
                        btnClass: 'btn btn-danger',
                        keys: ['enter', 'shift'],
                        action: function () {
                            location.href = this.$target.attr('href');
                        }
                    },
                }
            });

        });

        function initSelectedMenu() {
            let properties = '{{ object.encodedProperties | raw }}';
            properties = JSON.parse(properties);
            /*properties.each(function() {
                $('#nestedMenu .list-group-item[rf-type="118"]').toggle()
            });*/
            initLevel(properties);
            $('#menuContents input[type=checkbox]').attr('disabled', 'disabled');
        }

        function initLevel(data) {
            $.each(data, function (key, data) {
                let elementId = false;
                let elementPublic = false;
                let elementAuthenticated = false;
                let elementChildren = false;

                $.each(data, function (index, data) {
                    if (index == "id") {
                        elementId = data;
                    }
                    if (index == "public") {
                        elementPublic = data;
                    }
                    if (index == "authenticated") {
                        elementAuthenticated = data;
                    }
                    if (index == "children") {
                        if (data.length > 0) {
                            elementChildren = data;
                        }
                    }
                });

                var element = $('#nestedMenu .list-group-item[rf-type="' + elementId + '"]');

                //hide in list
                $('#menuContents .list-group-item[rf-type="' + elementId + '"]').hide();
                if (elementPublic) {
                    element.find('.views .public').prop('checked', true);
                } else {
                    element.find('.views .public').prop('checked', false);
                }
                if (elementAuthenticated) {
                    element.find('.views .authenticated').prop('checked', true);
                } else {
                    element.find('.views .authenticated').prop('checked', false);
                }

                if (elementChildren) {
                    initLevel(elementChildren);
                }
            })
        }
    </script>
{% endblock %}

