<div class="card block-detail shadow" rf-content-code="{{ block.id }}">
    <div class="card-header bg-default border-0">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0 text-white"> {{ ct.label }} <span style="font-size:10px;" title="({{ ct.code }})"> (ID: {{ block.id }})</span></h3>
            </div>
            <div class="col-4">
                <h3 class="mb-0">
                    <button class="btn btn-sm btn-secondary block-content-edit " rf-content-code="{{ block.id }}"> <i class="fa fa-edit"></i> Edit</button>
                </h3>
            </div>
        </div>
    </div>
    <div class="card-body align-items-center mx-auto">
        {% block body %}
        {% endblock %}
    </div>
</div>