<!-- Navbar -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{{ config.main.path }}">{{ config.main.title }}</a>

        <!-- Links -->
        {% if  config.items is defined and config.items is not empty %}
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                {% for item in config.items %}
                    <li class="nav-item {% if item.active is defined and item.active %}active{% endif %}">
                        <a class="nav-link" href="{{ item.path }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="{{ path('rf_user_profile',{'id':app.user.id}) }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="{{ app.user.name }}" src="{{ app.user.picture }}">
                </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{ app.user.name }}</span>
                        </div>
                    </div>
                </a>
                {% include 'admin/profile_dropdown.html.twig' %}
            </li>
        </ul>
    </div>
</nav>
<!-- End Navbar -->