{% if config.dark is not defined %}
    {% set dark = false %}
{% else %}
    {% set dark = true %}
{% endif %}

<div class="card {% if dark %}bg-default{% endif %} shadow">
    <div class="card-header {% if dark %}bg-transparent{% endif %}  border-0">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="{% if dark %}text-white{% endif %} mb-0">{{ config.title }}</h3>
            </div>
            <div class="col-4 text-right">
                {% if config.title_options is defined and config.title_options is not empty %}
                    {% for item in config.title_options %}
                        <a href="{{ item.path }}" class="btn rf btn-icon btn-3 btn-sm" {% if item.class is defined %}{{ item.class }}{% else %} btn-outline-grey{% endif %} type="button">
                            {% if item.icon is defined %}
                                <span class="btn-inner--icon">{{ item.icon | raw }}</span>
                            {% endif %}
                            <span class="btn-inner--text">{{ item.name }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
    <div class="table-responsive">
        {% if config.pages is empty %}
            <h3>No Page</h3>
        {% else %}
            <table class="table align-items-center {% if dark %}table-dark{% endif %} table-flush">
                <thead class="{% if dark %}thead-dark{% else %}thead-light{% endif %}">
                <tr>
                    {% if 'route' in config.fields %}
                        <th scope="col">URL</th>
                    {% endif %}
                    {% if 'name' in config.fields %}
                        <th scope="col">Name</th>
                    {% endif %}
                    {% if 'lastModifiedBy' in config.fields %}
                        <th scope="col">Last Modified By</th>
                    {% endif %}
                    {% if 'lastModifiedAt' in config.fields %}
                        <th scope="col">Last Modified</th>
                    {% endif %}
                    {% if 'published' in config.fields %}
                        <th scope="col">Status</th>
                    {% endif %}
                    {% if 'roles' in config.fields %}
                        <th scope="col">Roles</th>
                    {% endif %}
                    {% if config.options is defined %}
                        <th scope="col"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for page in config.pages %}
                    <tr>
                        {% if 'route' in config.fields %}
                            <td>
                                <a href="{{ path('rf_page_view', {'id':page.id}) }}">
                                    {{ page.route }}
                                </a>
                            </td>
                        {% endif %}{% if 'name' in config.fields %}
                            <td>
                                <a href="{{ path('rf_page_view', {'id':page.id}) }}">
                                    {{ page.name }}
                                </a>
                            </td>
                        {% endif %}

                        {% if 'lastModifiedBy' in config.fields %}
                            <th scope="row">
                                {% set userConfig = {'user': page.lastModifiedBy } %}
                                {% include 'admin/components/user_icon.html.twig' with userConfig %}
                            </th>
                        {% endif %}

                        {% if 'lastModifiedAt' in config.fields %}
                            <td>
                                {{ page.lastModifiedAt | date('d m Y H:i') }}
                            </td>
                        {% endif %}

                        {% if 'published' in config.fields %}
                            <td>
                                {% if page.published %}
                                    <span class="badge badge-pill badge-success"><i class="fas fa-globe"></i> &nbsp; Published</span>
                                {% else %}
                                    <span class="badge badge-pill badge-primary"><i class="fas fa-pencil-ruler"></i> &nbsp; Draft</span>
                                {% endif %}
                            </td>
                        {% endif %}{% if 'roles' in config.fields %}
                            <td>
                                {% for role in page.roles %}
                                    <div >
                                        {{ role | roleLabel }}
                                    </div>
                                {% endfor %}
                            </td>
                        {% endif %}
                        {% if config.options is defined %}
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        {% if 'properties' in config.options %}
                                            <a class="dropdown-item" href="{{ path('rf_page_edit',{'id':page.id}) }}">Edit Properties</a>
                                        {% endif %}{% if 'blocks' in config.options %}
                                            <a class="dropdown-item" href="{{ path('rf_page_view', {'id':page.id, 'tab':'blocks'}) }}">Edit Blocks</a>
                                        {% endif %}{% if 'contents' in config.options %}
                                            <a class="dropdown-item" href="{{ path('rf_page_view', {'id':page.id, 'tab':'contents'}) }}">Edit Contents</a>
                                        {% endif %}{% if 'visualize' in config.options %}
                                            {% if page.published %}
                                                <a class="dropdown-item" href="{{ path('rf_user_profile',{'id':page.id}) }}#role">View in Front Office</a>
                                            {% else %}
                                                <a class="dropdown-item" href="{{ path('rf_user_profile',{'id':page.id}) }}#role">Visualize</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}


    </div>
    <div class="card-footer {% if dark %}bg-transparent{% endif %}  border-0">
        <div class="row align-items-center">
            <div class="col-12">
                {% if config.paginate is defined and config.paginate %}
                    <div>
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>