<div class="row vp_layout_row">
    {% for layout in layouts %}
        <div class=" col-sm-4 col-md-{% if column is defined %}{{ column }}{% else %}3{% endif %}">
            <h6 class="text-black-50">{{ layout.code }}</h6>
            {% if choosable is defined and choosable %}
            <a href="#" class="rf-choose" rf-hidden="#mychoice" rf-id="{{ layout.id }}">
                {% else %}
                <a href="{{ path('rf_visualpack_structure', {'id':layout.id}) }}" title="View Layout" target="_blank">
            {% endif %}
                <div class="canvas_structure_layout shadow"
                     style="width:100px;height:130px; overflow:hidden;border:1px solid gainsboro; margin-bottom:15px;">
                    {{ layout.structure | raw }}
                </div>
            </a>
        </div>
    {% endfor %}
    {% if choosable is defined and choosable %}
        <input id="mychoice" type="hidden" value="0"/>
    {% endif %}
</div>