{% extends 'user/components/structure.html.twig' %}

{% block title %}{{ user.name }} - Profile{% endblock %}

{% block sidenav %}
    {% set config = {'config':{
        'active' : 'user',
        'items': [
            {'path' : path('rf_user_list'), 'title':"Users"},
            {'path' : path('rf_user_add'), 'title':"Add User"},
        ]
    }} %}
    {% include 'admin/sidenav.html.twig'  with config %}
{% endblock %}

{% block nav %}
    {% set config = {'config':{
        'main': {'path' : path('rf_user_profile',{'id':user.id}), 'title':"User Profile"},
        'items': [
            {'path' : path('rf_user_list'), 'title':"Users"},
            {'path' : path('rf_user_add'), 'title':"Add User"},
        ]
    }} %}
    {% include 'admin/nav.html.twig' with config %}
{% endblock %}

{% block header %}
    {% include 'user/components/header_profile.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="{{ path('rf_user_profile',{'id':user.id}) }}">
                                <img src="{{ user.picture }}" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                        <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    {#<div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                <div>
                                    <span class="heading">22</span>
                                    <span class="description">Friends</span>
                                </div>
                                <div>
                                    <span class="heading">10</span>
                                    <span class="description">Photos</span>
                                </div>
                                <div>
                                    <span class="heading">89</span>
                                    <span class="description">Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>#}
                    <div class="text-center">
                        <h3>
                            {{ user.name }}<span class="font-weight-light"></span>

                            {% if user.status == 'active' %}
                                <span class="badge badge-dot mr-2"><i class="bg-gradient-primary"></i></span>
                            {% endif %}
                            {% if user.status == 'inactive' %}
                                <span class="badge badge-dot mr-2"><i class="bg-blue"></i></span>
                            {% endif %}
                            {% if user.status == 'blocked' %}
                                <span class="badge badge-dot mr-2"><i class="bg-red"></i></span>
                            {% endif %}
                            {% if user.status == 'archived' %}
                                <span class="badge badge-dot mr-2"><i
                                            class="bg-gradient-darker"></i></span>
                            {% endif %}

                        </h3>
                        {% if user.address is not empty %}
                            <div class="h5 font-weight-300">
                                <i class="fa fa-map-marker-alt mr-2"></i>{{ user.address }}
                                , {{ user.country }}  {{ user.zipcode }}
                            </div>
                        {% endif %}{% if user.telephone is not empty %}
                            <div class="h5 mt-4">
                                <i class="fa fa-phone"></i> {{ user.telephone }}
                            </div>
                        {% endif %}{% if user.mobile is not empty %}
                            <div class="h5 mt-4">
                                <i class="fa fa-mobile-alt"></i> {{ user.mobile }}
                            </div>
                        {% endif %}
                        <div>
                            <i class="fa fa-at mr-2"></i> {{ user.email }}
                        </div>
                        <hr class="my-4"/>
                        {#<p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
                            records all of his own music.</p>
                        <a href="#">Show more</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1 rf-account-details">
            {% if is_granted(constant('App\\Enums\\Roles::ROLE_ROLES_MANAGEMENT')) %}
                <div id="role" class="card bg-default shadow">
                    <div class="card-header bg-transparent border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0 text-white">Manage Roles</h3>
                            </div>
                            {#<div class="col-4 text-right">
                                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                            </div>#}
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <h6 class="heading-small text-muted mb-4">Roles</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% for rolekey, roletitle in getConfigurableRoles() %}
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                                    <input class="custom-control-input roles_checkbox"
                                                           id="role_{{ rolekey }}"
                                                           type="checkbox" value="{{ rolekey }}">
                                                    <label class="custom-control-label text-white"
                                                           for="role_{{ rolekey }}">{{ roletitle }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="hidden" id="roles_input"
                                                   class="form-control form-control-alternative"
                                                   name="update_roles" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-darker btn-block">Update Roles</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br/>
            {% endif %}
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ user.name }} Details</h3>
                        </div>
                        <div class="col-4 text-right">
                            {% if is_granted(constant('App\\Enums\\Roles::ROLE_USER_MANAGEMENT_EDITOR'), user) %}
                                <button rf-parent=".rf-account-details" rf-show=".card-body"
                                        class="btn rf btn-icon btn-3 btn-outline-grey btn-sm" type="button">
                                    <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                                    <span class="btn-inner--text">edit</span>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if is_granted(constant('App\\Enums\\Roles::ROLE_USER_MANAGEMENT_EDITOR'), user) %}
                    <div class="card-body rf-hide">
                        {{ form_start(user_form) }}
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_row(user_form.firstname) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_row(user_form.lastname) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contact information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_row(user_form.telephone) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_row(user_form.mobile) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_row(user_form.address) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_row(user_form.country) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_row(user_form.zipcode) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_rest(user_form) }}
                                        <button type="submit" class="btn btn-icon btn-3 btn-primary">
                                            <span class="btn-inner--icon"><i class="fa fa-save"></i> </span>

                                            <span class="btn-inner--text">Update</span>
                                        </button>
                                    </div>
                                    <br/>
                                    <iframe src="https://www.mauritiuspost.mu/products-and-services/post-code-finder"
                                            style="width:100%; height:200px;"></iframe>
                                </div>
                            </div>
                        </div>
                        {{ form_end(user_form) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            //init the role list with the currentuser option
            {% for role in user.roles %}
            $('#role_{{ role }}').attr('checked', 'checked');
            fillRoleInput();
            {% endfor %}

            $(".roles_checkbox[type=checkbox]").on("click", fillRoleInput);
        });

        function fillRoleInput() {
            var str = '';
            $(".roles_checkbox:checked").each(function () {
                str = str + $(this).val() + ",";
            });
            $('#roles_input').val(str);
        }
    </script>
{% endblock %}
