{% extends 'user/components/structure.html.twig' %}

{% block title %}{{ user.name }} - Profile{% endblock %}

{% block sidenav %}
    {% set config = {'config':{
        'active' : 'user',
        'items': [
            {'path' : '#', 'title':"Users"},
            {'path' : '#', 'title':"Add User"},
        ]
    }} %}
    {% include 'admin/sidenav.html.twig'  with config %}
{% endblock %}

{% block nav %}
    {% set config = {'config':{
        'main': {'path' : path('rf_user_profile',{'id':user.id}), 'title':"User Profile"},
        'items': [
            {'path' : '#', 'title':"Users"},
            {'path' : '#', 'title':"Add User"},
        ]
    }} %}
    {% include 'admin/nav.html.twig' with config %}
{% endblock %}

{% block header %}
    {% include 'user/components/header_profile.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="{{ path('rf_user_profile',{'id':user.id}) }}">
                                <img src="{{ user.picture }}" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                        <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    {#<div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                <div>
                                    <span class="heading">22</span>
                                    <span class="description">Friends</span>
                                </div>
                                <div>
                                    <span class="heading">10</span>
                                    <span class="description">Photos</span>
                                </div>
                                <div>
                                    <span class="heading">89</span>
                                    <span class="description">Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>#}
                    <div class="text-center">
                        <h3>
                            {{ user.name }}<span class="font-weight-light"></span>

                            {% if user.status == 'active' %}
                                <span class="badge badge-dot mr-2"><i class="bg-gradient-primary"></i></span>
                            {% endif %}
                            {% if user.status == 'inactive' %}
                                <span class="badge badge-dot mr-2"><i class="bg-blue"></i></span>
                            {% endif %}
                            {% if user.status == 'blocked' %}
                                <span class="badge badge-dot mr-2"><i class="bg-red"></i></span>
                            {% endif %}
                            {% if user.status == 'archived' %}
                                <span class="badge badge-dot mr-2"><i
                                            class="bg-gradient-darker"></i></span>
                            {% endif %}

                        </h3>
                        {% if user.address is not empty %}
                            <div class="h5 font-weight-300">
                                <i class="fa fa-map-marker-alt mr-2"></i>{{ user.address }}
                                , {{ user.country }}  {{ user.zipcode }}
                            </div>
                        {% endif %}{% if user.telephone is not empty %}
                            <div class="h5 mt-4">
                                <i class="fa fa-phone"></i> {{ user.telephone }}
                            </div>
                        {% endif %}{% if user.mobile is not empty %}
                            <div class="h5 mt-4">
                                <i class="fa fa-mobile-alt"></i> {{ user.mobile }}
                            </div>
                        {% endif %}
                        <div>
                            <i class="fa fa-at mr-2"></i> {{ user.email }}
                        </div>
                        <hr class="my-4"/>
                        {#<p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
                            records all of his own music.</p>
                        <a href="#">Show more</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1 rf-account-details">
            {% if is_granted(constant('App\\Enums\\Roles::ROLE_ROLES_MANAGEMENT')) %}
                <div class="card bg-default shadow">
                    <div class="card-header bg-transparent border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0 text-white">Manage Roles</h3>
                            </div>
                            {#<div class="col-4 text-right">
                                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                            </div>#}
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <h6 class="heading-small text-muted mb-4">Roles</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% for rolekey, roletitle in getConfigurableRoles() %}
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                                    <input class="custom-control-input roles_checkbox"
                                                           id="role_{{ rolekey }}"
                                                           type="checkbox" value="{{ rolekey }}">
                                                    <label class="custom-control-label text-white"
                                                           for="role_{{ rolekey }}">{{ roletitle }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="hidden" id="roles_input"
                                                   class="form-control form-control-alternative"
                                                   name="update_roles" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-darker btn-block">Update Roles</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br/>
            {% endif %}
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ user.name }} info</h3>
                        </div>
                        <div class="col-4 text-right">
                            <a href="#!" rf-parent=".rf-account-details" rf-show=".card-body" class="btn rf btn-warning btn-sm"><i class="fa fa-edit"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="card-body rf-hide">
                    {{ form(user_form) }}
                    <form>
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Username</label>
                                        <input type="text" id="input-username"
                                               class="form-control form-control-alternative" placeholder="Username"
                                               value="lucky.jesse">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input type="email" id="input-email"
                                               class="form-control form-control-alternative"
                                               placeholder="jesse@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">First name</label>
                                        <input type="text" id="input-first-name"
                                               class="form-control form-control-alternative" placeholder="First name"
                                               value="Lucky">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Last name</label>
                                        <input type="text" id="input-last-name"
                                               class="form-control form-control-alternative" placeholder="Last name"
                                               value="Jesse">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contact information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Address</label>
                                        <input id="input-address" class="form-control form-control-alternative"
                                               placeholder="Home Address"
                                               value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">City</label>
                                        <input type="text" id="input-city" class="form-control form-control-alternative"
                                               placeholder="City" value="New York">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Country</label>
                                        <input type="text" id="input-country"
                                               class="form-control form-control-alternative" placeholder="Country"
                                               value="United States">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Postal code</label>
                                        <input type="number" id="input-postal-code"
                                               class="form-control form-control-alternative" placeholder="Postal code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">About me</h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label>About Me</label>
                                <textarea rows="4" class="form-control form-control-alternative"
                                          placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            //init the role list with the currentuser option
            {% for role in user.roles %}
            $('#role_{{ role }}').attr('checked', 'checked');
            fillRoleInput();
            {% endfor %}

            $(".roles_checkbox[type=checkbox]").on("click", fillRoleInput);
        });

        function fillRoleInput() {
            var str = '';
            $(".roles_checkbox:checked").each(function () {
                str = str + $(this).val() + ",";
            });
            $('#roles_input').val(str);
        }
    </script>
{% endblock %}
